@charset "UTF-8";

body{
    height: 95vh;
    background-image: url(espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    position: absolute;

    width: 30%;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
